{% load i18n %}
{% load static %}
<header class="site-header sticky-top py-1 text-light bg-dark" style="position: absolute; width: 100%;">
    <nav class="collapse navbar-collapse container d-flex flex-column flex-md-row justify-content-between px-5">
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'web:homepage' %}">
            <img src="{% static 'icons/logo-white.png' %}" alt="" width="24" height="24"/>
        </a>
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'web:homepage' %}">{% trans "Классификация" %}</a>
        {% if user.is_authenticated %}
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'yolo:index' %}">{% trans "Компьютерное зрение" %}</a>
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'web:project_add' %}">{% trans "Менеджер проектов" %}</a>
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'web:projects' %}">{% trans "Библиотека проектов" %}</a>
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'web:profile' %}">{{ request.user.get_username | title }}</a>
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'web:account_logout' %}">{% trans "Выйти" %}</a>
        {% else %}
        <a class="text-light py-2 d-none d-md-inline-block nav-link" href="{% url 'web:account_login' %}">{% trans "Войти" %}</a>
        {% endif %}
    </nav>
</header>