{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
Библиотека проектов
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<div class=" image_class position-relative overflow-hidden mt-5 text-center d-flex" id="content"
     style="background-image: url('{{random_photo.full_image.url}}');">
    <div class="col-md-8 p-lg-5 mx-auto">
        <h1 class="display-1 fw-normal" style="font-size: 88px;">Библиотека проектов</h1>
        <div class="mx-auto text-center w-50">
            <form class="d-flex mx-auto " role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="bg-secondary image_class position-relative overflow-hidden p-1 text-center d-flex" id="content">
    <div class="mx-auto">
        <h1 class="display-5 text-light fw-normal">Classification projects</h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100">
    <div class="bg-dark px-md-5 text-dark overflow-hidden w-100 pb-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        {% for project in projects %}
        <div class="col">
            <div class="card mt-5" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ project.get_random_photo.image.url }}" class="img-fluid rounded-start" alt="..."
                             style="height:200px; width:200px; object-fit: cover">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">Last updated {{ project.last_update }}</p>
                            <p class="card-text"><small class="text-muted"></small>Size: {{ project.get_match.count}}
                            </p>
                            <a href="{{ project.get_zip_url }}" class="btn btn-success">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}