{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Bad token" %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center text-center text-dark bg-light account-cover">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
            <div class="m-auto account-form">
               <h1>Ссылка устарела</h1>
                {% url "account_password_reset" as url %}
                <p>{% blocktrans %}Эта ссылка для восстановления пароля устарела. Получите новою по <a href="{{ url }}">ссылке</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock %}