{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset sent" %}{% endblock %}

{% block body %}
<div class="d-flex justify-content-center text-center text-dark bg-light account-cover">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
            <div class="m-auto account-form">
                <h3>Письмо с восстановлением пароля отправлено</h3>
    {% if not resend %}
        <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:club.estate@yandex.ru">club.estate@yandex.ru</a>.{% endblocktrans %}</p>

                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button class="btn" type="submit" style="background-color:#00f5b2;">Отправить еще раз</button>
                </form>
    {% else %}
        <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:club.estate@yandex.ru">club.estate@yandex.ru</a>{% endblocktrans %}</p>
    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}